@model IEnumerable<filmJPTVR18.Models.Film>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    @foreach (var film in Model)
    {
     <div class="col-md-4">
        <img src="~/App_Data/uploads/download.png" class="img" />
        <h2>@film.Title</h2>
        @Html.ActionLink("Details", "Details", "Film", new { film.Id }, new { @class="btn btn-info" })
     </div>
    }
</div>