@model IEnumerable<WebApplication1.Models.Painter>

@{
    ViewBag.Title = "PaintersMenu";
}

<h2>Меню художники</h2>

<ul id="categories">
    <li>@Html.ActionLink("All Teams", "Index")</li>
    @foreach(var item in Model)
    {
        <li>
            @Html.ActionLink(item.name, "Browse","PaintersMenu", new { id = item.id}, null)
        </li>
    }
</ul>

