
@{
    ViewBag.Title = "Index";
}


<h2>
    Приглашаю всех на PARTY
</h2>
<h3>Вы приглашены, нужно только заполнить форму</h3>
<br />
<button class="btn btn-info">
    @Html.ActionLink("Register", "RegisterForm", null, null, new { @style = "color: white" })
</button>
<button class="btn btn-info">
    @Html.ActionLink("Contact us", "Contact", null, null, new { @style = "color: white" })
</button>
<!--

    Ссылка на контроллер
    <a href="/RegisterForm">Register</a>
-->
