
@{
    ViewBag.Title = "Index";
}


<h2>
    Приглашаю всех на PARTY
</h2>
<h3>Вы приглашены, нужно только заполнить форму</h3>
<br />
<button class="btn btn-info">
    @Html.ActionLink("Register", "RegisterForm", null, null, new { @style = "color: white" })
</button>

