
@{
    ViewBag.Title = "Cities";
}

<h2>Cities</h2>
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Cities</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var city in ViewBag.Cities)
        {
        <tr>
            <td>@city.id</td>
            <td>@city.Title</td>
            <td>
                @{ string str = "Hotels (" + city.Hotels.Count.ToString() + ") "; }
                @Html.ActionLink(str, "Hotels", new { id = city.id }, new { @class = "" })
            </td>
        </tr>
        }
    </tbody>
</table>


