
@{
    ViewBag.Title = "Details";
}

<h2>Detail hotel</h2>
@foreach (var city in ViewBag.Cities)
{
    
    <div class="container-fluid">
        <div class="row m-0">
            @foreach (var hotel in city.Hotels)
            {
                if (hotel.id == ViewBag.HotelId)
                {
                    <div class="col-md-3">
                        <div class="card m-auto" style="width: 18rem;">
                            <img src="~/Content/@hotel.img" class="card-img-top img_card" alt="">
                            <div class="card-body">
                                <h4 class="card-title"><b>@hotel.name</b></h4>
                                <p class="card-text">
                                    <b>Services: </b> @hotel.services
                                </p>
                                <p class="card-text">
                                    <b>Address: </b> @hotel.address
                                </p>
                                @Html.ActionLink("вернуться", "/", null, new { @class = "btn btn-primary" })
                            </div>
                        </div>
                    </div>
                }
            }

        </div>
    </div>
}


