
@{
    ViewBag.Title = "Hotels";
}

<h2>Cties</h2>
@foreach (var city in ViewBag.Cities)
{
    <h3>@city.Title</h3>
    <div class="container-fluid">
        <div class="row m-0">
            @foreach (var hotel in city.Hotels)
            {
                <div class="col-md-3">
                    <div class="card m-auto" style="width: 18rem;">
                        <img src="~/Content/@hotel.img" class="card-img-top img_card" alt="">
                        <div class="card-body">
                            <h4 class="card-title"><b>@hotel.name</b></h4>
                            @Html.ActionLink("Детали", "Details", new { id = hotel.id}, new { @class = "btn btn-primary" })
                        </div>
                    </div>
                </div>
            }

        </div>
        <hr />
    </div>
    
}

